.box_container {
    width: 300px;
    height: 200px;
    border: 3px solid salmon;
    border-radius: 5px;

    display : flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    border-radius: 5px;

    background-color: salmon;
    margin: 3px;

    /* flex */
    display : flex;
    justify-content: center;
    align-items: center;
}