.box_container{
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
}
.box_container2{
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
.box_container3{
    width: 600px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
}
.box1{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 3px;
    background-color: salmon;

}

.box2{
    width: 100px;
    height: 100px;

    border-radius: 5px;
    margin: 3px;
    background-color: salmon;

}

.box3{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin: 3px;
    background-color: salmon;
}
